body,
html {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.grid {
  overflow: hidden;
  width: 100%;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid {
  margin: 0 0 20px 0;
  position: relative;
}
.grid.grid-pad {
  padding: 20px 0 20px 20px;
}
.grid.grid-pad > [class*="col"]:last-of-type {
  padding-right: 20px;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
.grid > [class*="col"] {
  float: left;
  padding-right: 20px;
  position: relative;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid > [class*="col"]:last-of-type {
  padding-right: 0;
}

// @for $col from 1 through 12 {
//   .grid > .col#{$col} { width: 8.33% * $col; } 
// }
.grid > .col1 {
  width: 8.33%;
}
.grid > .col2 {
  width: 16.66%;
}
.grid > .col3 {
  width: 25%;
}
.grid > .col4 {
  width: 33.33%;
}
.grid > .col5 {
  width: 41.66%;
}
.grid > .col6 {
  width: 50%;
}
.grid > .col7 {
  width: 58.33%;
}
.grid > .col8 {
  width: 66.66%;
}
.grid > .col9 {
  width: 75%;
}
.grid > .col10 {
  width: 83.33%;
}
.grid > .col11 {
  width: 91.66%;
}
.grid > .col12 {
  width: 100%;
}
.grid > .col-2-3 {
  width: 66.66%;
}
.grid > .col-1-3 {
  width: 33.33%;
}
.grid > .col-1-2 {
  width: 50%;
}
.grid > .col-1-4 {
  width: 25%;
}
.grid > .col-3-4 {
  width: 75%;
}
.grid > .col-1-5 {
  width: 20%;
}
.grid > .col-2-5 {
  width: 40%;
}
.grid > .col-3-5 {
  width: 60%;
}
.grid > .col-4-5 {
  width: 80%;
}
/* Column styles */
.grid.columns {
  height: 100%;
  margin: 0;
}
.grid.columns > .bar,
.grid.columns > .content {
  height: 100%;
  left: 0;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid.columns > .bar {
  z-index: 2;
}
.grid.columns > .content {
  z-index: 1;
}
.grid.columns.collapse > .bar {
  width: 0;
}
.grid.columns.collapse > .content {
  padding-left: 0;
}
.grid.columns.right.collapse > .bar {
  margin-left: 0;
}
.grid.columns.right.collapse > .content {
  padding-right: 0;
}

// functions
@function strip-unit ($num) {
  @return $num / ($num * 0 + 1);
}

// mixins
@mixin column-split($width) {
  $widthNoUnit: strip-unit($width);
  .grid.columns.split#{$widthNoUnit} > .bar {
    width: $width;
  }
  .grid.columns.split#{$widthNoUnit} > .content {
    padding-left: $width;
  }
  .grid.columns.split#{$widthNoUnit}.right > .bar {
    left: 100%;
    margin-left: -$width;
  }
  .grid.columns.split#{$widthNoUnit}.right > .content {
    padding-left: 0;
    padding-right: $width;
  }
}

@mixin row-split($height) {
  $heightNoUnit: strip-unit($height);
  .grid.rows.split#{$heightNoUnit} > .bar {
    height: $height;
    line-height: $height;
  }
  .grid.rows.split#{$heightNoUnit} > .content {
    top: $height;
  }
  .grid.rows.split#{$heightNoUnit}.bottom > .bar {
    bottom: 0;
    height: $height;
  }
  .grid.rows.split#{$heightNoUnit}.bottom > .content {
    bottom: $height;
    top: 0;
  }
}

/* Row styles */
.grid.rows {
  height: 100%;
  margin: 0;
}
.grid.rows > .bar,
.grid.rows > .content {
  left: 0;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 100%;
}

.grid.rows > .content {
  bottom: 0;
}

.grid.rows.bottom > .bar,
.grid.rows.bottom > .content {
  top: auto;
}

.grid.rows.collapse > .bar {
  height: 0;
}
.grid.rows.collapse > .content {
  height: 100%;
  top: 0;
}
.grid.rows.bottom.collapse > .bar {
  height: 0;
}
.grid.rows.bottom.collapse > .content {
  height: 100%;
}
/* Scroll wrapper */
.scroll-y {
  height: 100%;
  overflow-y: auto;
}
.scroll-x {
  height: 100%;
  overflow-x: auto;
}


// For Molten functionality
@include column-split(50px);
@include column-split(100px);
@include column-split(150px);
@include column-split(200px);
@include column-split(225px);
@include column-split(250px);
@include column-split(275px);
@include column-split(300px);
@include column-split(325px);
@include column-split(350px);
@include column-split(375px);
@include column-split(400px);

// Rows for Molten functionality
@include row-split(10px);
@include row-split(20px);
@include row-split(30px);
@include row-split(40px);
@include row-split(50px);
@include row-split(60px);
@include row-split(70px);
@include row-split(80px);
@include row-split(90px);
@include row-split(100px);
@include row-split(200px);
@include row-split(300px);